[submodule "ahrensburg.digital"]
	path = ahrensburg.digital
	url = https://github.com/thorstenkloehn/ahrensburg.digital.git
[submodule "dokument"]
	path = dokument
	url = https://github.com/thorstenkloehn/dokument.git
[submodule "statik"]
	path = statik
	url = https://github.com/thorstenkloehn/statik.git

[submodule "ahrensburg.schule"]
	path = ahrensburg.schule
	url = https://github.com/thorstenkloehn/ahrensburg.schule.git
