moodle.ahrensburg.digital {
root * /moodle/moodle
php_fastcgi unix//run/php/php7.4-fpm.sock
 try_files {path} {path}/ /index.php?{query}
 file_server
  encode zstd gzip
}



ahrensburg.digital {


 root * /Server/ahrensburg.digital/output
 file_server
 encode zstd gzip


}
wordpress.ahrensburg.digital {
root * /wordpress/wordpress
php_fastcgi unix//run/php/php7.4-fpm.sock
 try_files {path} {path}/ /index.php?{query}
 file_server
  encode zstd gzip
}
dokument.ahrensburg.digital {

 root * /Server/dokument/static
 file_server
 encode zstd gzip
}

statik.ahrensburg.digital {

 root * /Server/statik
 file_server
 encode zstd gzip
}


