ahrensburg.schule {

 root * /Server/ahrensburg.schule/static
 file_server
 encode zstd gzip
}


ahrensburg.digital {


 root * /Server/ahrensburg.digital/output
 file_server
 encode zstd gzip


}

dokument.ahrensburg.digital {

 root * /Server/dokument/static
 file_server
 encode zstd gzip
}

statik.ahrensburg.digital {

 root * /Server/statik
 file_server
 encode zstd gzip
}


